@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 90vh;
}
body > div{
    min-width: 20%;
    opacity: 70%;
}
h2{
    font-weight: 900;
    opacity: 50%;
}
#animatedValue{
    font-size: 32px;
}